body {
    background-color: rgb(255, 72, 0);
}

#text0, #text1, #text3, #text4, #text5 {
    display: none;
}

#text2 {
    display: block;
}

.text-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}