body {
    background-color: rgb(208, 0, 255);
}

#text0, #text1, #text2, #text3, #text5 {
    display: none;
}

#text4 {
    display: block;
}

.text-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}