body {
    background-color: rgb(166, 255, 0);
}

#text1, #text2, #text3, #text4, #text5 {
    display: none;
}

#text0 {
    display: block;
}

.text-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}