body {
    background-color: rgb(0, 255, 242);
}

#text0, #text1, #text2, #text3, #text4, #text5 {
    display: none;
}

.text-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}