body {
    background-color: rgb(255, 179, 0);
}

#text0,
#text2,
#text3,
#text4,
#text5 {
    display: none;
}

#text1 {
    display: block;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}